<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Karma</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,800" rel="stylesheet">
        <link rel="stylesheet" href="stylesheets/normalize.min.css">
        <link rel="stylesheet" href="stylesheets/styles.css">

        <script src="javascripts/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
    </head>
    <body>

        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

<!-- <script src="https://code.jquery.com/jquery.min.js"></script> -->
<nav>
  <ul class="nav nav-tabs">
    <li role="presentation" >
      <a id="logo-img" href="index.html"><img src="assets/img/logo-light@no-bg.png" height="56px" /></a>
    </li>
  </ul>
</nav>

<div class="container-fluid">

  <div class="row">

    <div class="col-sm-4">
      <div class="profile-section bio">
        <div class="section-title">
          <h2>Save Some Cats</h2>
        </div>
        <div class="profile-image">
          <img class="circle" src="assets/img/user-placeholder.png" height="120px" />
        </div>
        <div class="panel">
          <div class="panel-heading">
            <h2 class="panel-title">
              About Us
            </h2>
          </div>
          <div class="panel-body">
            <p>
              We are a charity trying to save some cats. Funded by cat lovers, we love cats and help to re-home stray cats and provide shelter for lost cats.
            </p>
          </div>
          <div class="panel-heading">
            <h2 class="panel-title">
              Location
            </h2>
          </div>
          <div class="panel-body">
            <p>
              Ponsonby, Auckland
            </p>
          </div>
          <div class="panel-heading">
            <h2 class="panel-title">
              Issues
            </h2>
          </div>
          <div class="panel-body">
            <p>
              Animal welfare
            </p>
          </div>
      </div>
    </div>
  </div>

    <div class="col-sm-4 profile-section card-list">
      <div class="section-title">
        <h2>Current Listings</h2>
      </div>
      <div class="panel">
        <div class="panel-heading">
          <h2 class="panel-title">A Job For You</h2>
        </div>
        <div class="panel-body">
          <p>
            This is a job description. Ground control to major tom. Ground control to major tom. Take your protein pills and put your helmet on.
          </p>
          <p>
            Job location
          </p>
          <p>
            Number of hours
          </p>
          <p>
            Number of volunteers needed
          </p>
        </div>
      </div>

    </div>
    <div class="col-sm-4 profile-section card-list">
      <div class="section-title">
        <h2>Volunteers</h2>
      </div>
      <div class="panel">
        <div class="panel-heading">
          <h2 class="panel-title">Lucas</h2>
        </div>
        <div class="panel-body">
          <p>
            This volunteer has skills your organisation need.
          </p>
          <p>
            Click here to contact this volunteer.
          </p>
        </div>
      </div>
    </div>

  </div> <!-- End row -->
</div> <!-- End container -->

  <script>window.jQuery || document.write('<script src="javascripts/vendor/jquery-1.11.2.min.js"><\/script>')</script>
        <script src="javascripts/main.js"></script>
    </body>
</html>
